fairseq==0.10.2
# axiom_client@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/axiom_client-1.9.4-py3-none-any.whl
# venus@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/venus-1.2.5rc0-py3-none-any.whl
sentence-transformers>=2.2.0
loguru~=0.6.0
jsonschema~=3.1.1
uvicorn>=0.15.0,<0.17.0
fastapi>=0.79.0,<0.85.1
pydantic>=1.8.0,<2.0.0
iteration_utilities>=0.9.0,<0.11.0
starlette>=0.18.0,<0.20.4
pandas>=1.1.5,<1.5.1
passlib>=1.7.0,<1.7.4
jose>=1.0.0,<3.3.0
deepdiff>=5.7.0,<5.8.1
networkx>=2.5.1,<2.8.7
pyyaml>=5.4.1
python-dotenv>=0.19.2,<0.20.0
sqlalchemy>=1.3.1,<1.4.28
fastapi_utils>=0.2.0
python-multipart>=0.0.5
python-jose>=3.1.0,<3.3.0
pynvml~=11.4.1
paramiko~=2.12.0
giturlparse~=0.10.0
mlflow>=1.30.0
requests>=2.26.0
torch>=1.7.1
numpy>=1.21.6
tqdm>=4.62.3
mmh3>=3.0.0
dataclasses>=0.6
transformers>=4.11.3
scikit-learn>=1.0.2
typing_extensions>=4.3.0
numba>=0.56.3
pytest>=7.1.3
responses>=0.18.0
elasticsearch>=7.9.1
ipython>=7.31.1
environs>=9.5.0
jsbeautifier>=1.14.7
rapidfuzz~=2.13.2
streamlit>=1.11.0
markdown>=3.3.4