comet@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/comet-7.1.0rc8-py3-none-any.whl
venus@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/venus-1.2.3rc4-py3-none-any.whl
rapidfuzz
mmh3
seaborn
streamlit>=1.10.0