rapidfuzz~=2.11.1
mmh3~=3.0.0
seaborn~=0.11.2
streamlit~=1.10.0rc2
xlsxwriter~=1.3.7
streamlit-aggrid
streamlit_tags
tensorboard
httplib2~=0.21.0
pandas~=1.1.3
pyyaml~=6.0
pillow~=8.4.0
click~=7.0
questionary~=1.5.2
prettytable~=2.5.0
jsbeautifier~=1.14.7
requests~=2.27.1
tqdm~=4.51.0
numpy~=1.19.0
torch~=1.7.1
transformers~=4.11.3
environs~=8.0.0
tabulate~=0.8.7
bottleneck~=1.3.5
pydash~=4.8.0
scikit-learn~=0.24.2
termcolor~=1.1.0
setuptools~=58.0.4
termcolor
bottleneck
comet@ https://minio.dev.ftech.ai/lib-packages/comet-7.3.0rc1-py3-none-any.whl
venus@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/venus-1.2.3rc4-py3-none-any.whl
vaxiom_client@http://minio.dev.ftech.ai/libs-packages-v0.1-0e4dcd9d/vaxiom_client-0.1.0rc5-py3-none-any.whl
